/* Add this to your existing CSS file or create a new one */

body {
    font-family: Barlow, Arial, sans-serif;
    background-color: white;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.logo {
    max-width: 100%; /* Set maximum width to 100% */
    height: auto; /* Maintain aspect ratio */
    padding: 10px 20px;
}

.container {
    text-align: center;
    margin-top: 50px;
    max-width: 800px; /* Set a maximum width */
    margin: auto; /* Center the container horizontally */
    padding: 0 20px; /* Add some padding for better spacing */
}

h1 {
    color: #929497;
    font-size: 60px;
}

#message {
    color: white;
    font-size: 40px;
    background-color: #ffcd34;
    padding: 10px; /* Add padding */
}

button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 40px;
}

#startButton {
    background-color: #00934a;
    color: white;
}

#startButton:hover {
    background-color: #006b22;
}

#quitButton {
    background-color: #d91a35;
    color: white;
}

#quitButton:hover {
    background-color: #ac0008;
}

/* Media queries for responsive design */
@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 50px; /* Adjust font size for smaller screens */
    }
    button {
        font-size: 40px; /* Adjust button font size for smaller screens */
    }
    #message {
        font-size: 40px; /* Adjust font size for smaller screens */
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 40px; /* Adjust font size for smaller screens */
    }
    button {
        font-size: 30px; /* Adjust button font size for smaller screens */
    }
    #message {
        font-size: 30x; /* Adjust font size for smaller screens */
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 30px; /* Adjust font size for smaller screens */
    }
    button {
        font-size: 20px; /* Adjust button font size for smaller screens */
    }
    #message {
        font-size: 20px; /* Adjust font size for smaller screens */
    }
}
