<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Scanner</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <img src="https://raw.githubusercontent.com/Lana-Franks-Code/qrcodescanner/main/Allan%20Gray%20Makers_Logo_small.png" class="logo">
        <br>
        <h1>QR Code Scanner</h1>
        <div id="totalAttendance"></div> <!-- Add a div to display total attendance -->
        <button id="startButton" onclick="startScan()">Start</button>
        <button id="quitButton" onclick="stopScan()">Stop</button>
        <br>
        <br>
        <div id="message"></div>

    </div>

    <script>
        function startScan() {
            fetch("/start_scan")
            .then(response => {
                if (response.ok) {
                    console.log("Scanning started.");
                } else {
                    console.error("Failed to start scanning.");
                }
            })
            .catch(error => {
                console.error("Error:", error);
            });
        }

        function stopScan() {
            fetch("/stop_scan")
            .then(response => {
                if (response.ok) {
                    console.log("Scanning stopped.");
                } else {
                    console.error("Failed to stop scanning.");
                }
            })
            .catch(error => {
                console.error("Error:", error);
            });
        }

        function updateMessage(message) {
            document.getElementById("message").innerText = message;
        }

        function updateTotalAttendance(totalAttendance) {
            document.getElementById("totalAttendance").innerText = "Total Attendance: " + totalAttendance;
        }

        // Function to continuously update message and total attendance
        function updateDataContinuously() {
            setInterval(() => {
                fetch("/get_message")
                .then(response => response.text())
                .then(message => {
                    updateMessage(message);
                })
                .catch(error => {
                    console.error("Error:", error);
                });

                // Fetch total attendance
                fetch("/get_total_attendance")
                .then(response => response.json())
                .then(data => {
                    updateTotalAttendance(data.totalAttendance);
                })
                .catch(error => {
                    console.error("Error:", error);
                });
            }, 1000); // Update data every second
        }

        updateDataContinuously(); // Start continuous data updating
    </script>
</body>
</html>
